Created a notebook so it can be organized. Started Aug 12, 2022

# Set up

In [1]:
#@title ## Base imports
import os
import sys
import numpy as np
import scipy
import sklearn
import sklearn.linear_model
import pandas as pd
idx = pd.IndexSlice
import plotly.express as px

import warnings
import requests
import urllib.request
import json

In [2]:
#@title ## Option 1) Mount google drive and import my code

mountpoint_folder_name = "gdrive"  # can be anything, doesn't have to be "drive"
project_path_within_drive = "PythonProjects/GeospatialAnalysis" #@param {type:"string"}
project_path_full = os.path.join("/content/",mountpoint_folder_name,
                        "MyDrive",project_path_within_drive)
try:
    import google.colab.drive
    import os, sys
    # Need to move out of google drive directory if going to remount
    %cd
    # drive.mount documentation can be accessed via: drive.mount?
    #Signature: drive.mount(mountpoint, force_remount=False, timeout_ms=120000, use_metadata_server=False)
    google.colab.drive.mount(os.path.join("/content/",mountpoint_folder_name), force_remount=True)  # mounts to a folder called mountpoint_folder_name

    if project_path_full not in sys.path:
        pass
        #sys.path.insert(0,project_path_full)
    %cd {project_path_full}
    
except ModuleNotFoundError:  # in case not run in Google colab
    import traceback
    traceback.print_exc()

/root
Mounted at /content/gdrive
/content/gdrive/.shortcut-targets-by-id/1okL5s1HTQUWqKodPSVNP_RsK0o81IH5E/PythonProjects/GeospatialAnalysis

In [ ]:
#@title ## Option 2) Clone project files from GitHub

!git clone https://github.com/ryerrabelli/GeospatialAnalysis.git

project_path_full = os.path.join("/content/","GeospatialAnalysis/")
sys.path.insert(1,project_path_full)
%cd GeospatialAnalysis
print(sys.path)

Cloning into 'GeospatialAnalysis'...
remote: Enumerating objects: 198, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 198 (delta 0), reused 3 (delta 0), pack-reused 192
Receiving objects: 100% (198/198), 31.41 MiB | 8.15 MiB/s, done.
Resolving deltas: 100% (75/75), done.
/content/GeospatialAnalysis
['', '/content/GeospatialAnalysis', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']

# Helper functions

In [4]:
years = np.arange(2015,2019+1)

#@markdown # calc_regression()
def calc_regression(y, x):
    import collections
    regress = scipy.stats.linregress(x, y=y)
    # R = Pearson coefficient
    # p indicates p-value
    # Use ordered dict to retain order
    return collections.OrderedDict({
        "Mean": np.mean(y, axis=0),
        "Sum": np.sum(y, axis=0),
        "Slope": regress.slope, 
        "Intercept": regress.intercept, 
        "R": regress.rvalue, 
        "p": regress.pvalue, 
        })


"""
requests.get('http://172.28.0.2:9000/api/sessions').json() =
[{'id': 'e0a49454-e812-4d99-aa6f-9d7b80a9616c',
  'kernel': {'connections': 1,
   'execution_state': 'busy',
   'id': '6fd9c8b4-6573-4ffa-a7d6-f56803a0092c',
   'last_activity': '2021-12-01T08:12:08.239708Z',
   'name': 'python3'},
  'name': 'ModelInversions.ipynb',
  'notebook': {'name': 'ModelInversions.ipynb',
   'path': 'fileId=1ZAqQEIxR08eODSPEHvKPwbZoioVdV8L9'},
  'path': 'fileId=1ZAqQEIxR08eODSPEHvKPwbZoioVdV8L9',
  'type': 'notebook'}]
"""
#notebook_filename = requests.get('http://172.28.0.2:9000/api/sessions').json()[0]['name']
notebook_filename="2022_12_29-RSY-geospatial_ENT_analysis_v04.ipynb"
#@markdown # get_path_to_save()
def get_path_to_save(file_prefix="", save_filename:str=None, save_in_subfolder:str=None, extension="png", create_folder_if_necessary=True):
    save_path = ["outputs",
                f"{notebook_filename.split('.',1)[0]}",  # use split to remove file extension
                ]
    if save_in_subfolder is not None:
        if isinstance(save_in_subfolder, (list, tuple, set, np.ndarray) ):
            save_path.append(**save_in_subfolder)
        else:  # should be a string then
            save_path.append(save_in_subfolder)
    save_path = os.path.join(*save_path)
    if not os.path.exists(save_path) and create_folder_if_necessary:
        os.makedirs(save_path)
    return os.path.join(save_path, file_prefix+save_filename+"."+extension)

#@markdown # save_df()
def save_df(df, file_name:str, ):
    df.to_excel( get_path_to_save(save_filename=file_name, extension="xlsx") )
    df.to_csv( get_path_to_save(save_filename=file_name, extension="csv") )

#@markdown # save_figure()
def save_figure(fig, file_name:str, animated=False):
    """
    fig is of type plotly.graph_objs._figure.Figure,
    Requires kaleido to be installed
    """
    fig.write_html( get_path_to_save(save_filename=file_name, extension="html") )
    if not animated:
        fig.write_image( get_path_to_save(save_filename=file_name, extension="svg"))
        fig.write_image( get_path_to_save(save_filename=file_name, extension="png") )
        fig.write_image( get_path_to_save(save_filename=file_name, extension="jpg") )

# Procedures analysis

## Load ENT procedures df from csv file
This is specifically a wide type df so it is one row per procedure with years as different columns.To understand what is meant by long type and wide type dataframes, see https://towardsdatascience.com/visualization-with-plotly-express-comprehensive-guide-eb5ee4b50b57

The slope given in the csv file is actually the inverse slope. We need to either recalculate it or invert it. I will just recalculate all the regression values.

In [51]:
df_procedures_orig = pd.read_csv("data/1_renamed/procedure_specific_data.csv",
                                 keep_default_na=False, # makes empty string cells still be interpreted as str 
                                dtype={
                                    "Specialty": str,
                                    "Group": str,
                                    "HCPCS Code": str,
                                    "Total Number of Services": np.int64,
                                    **{f"Total Number of Services: {year}": np.int64 for year in range(2015,2019+1)}
                                    })  # gets per healthcare code info

## Clean df and recalculate regression

In [54]:
df_procedures_clean = df_procedures_orig.set_index(["Specialty","Group","HCPCS Code", "HCPCS Description"])

# Remove the "amount" word 
df_procedures_clean.columns = [col.replace("Total Medicare Payment Amount","Total Medicare Payment") for col in df_procedures_clean.columns]
# Drop columns besides the individual year ones. Will recalculate the other ones as a quality assurance check.
df_procedures_clean = df_procedures_clean.drop(columns=[col for col in df_procedures_clean.columns if ("slope" in col.lower() or "pearson" in col.lower() or ":" not in col)] )

# Rename the columns so they can be split  easier. The 20 is the first two digits of the year columns (e.g. "2019") 
df_procedures_clean.columns = [col.replace(": ",": : ").replace(": 20","Annual: 20") for col in df_procedures_clean.columns]

# Make Multiindex
df_procedures_clean.columns = pd.MultiIndex.from_tuples([tuple(col.split(": ")) if ":" in col else (col,"","") for col in df_procedures_clean.columns], names=["Category","Stat","Year"])
df_procedures_clean = df_procedures_clean[sorted(df_procedures_clean)]  # rearrange cols alphabetically

col_categories = df_procedures_clean.columns.levels[0]  #["Total Number of Services", "Total Medicare Payment Amount"]

In [55]:
specialties = df_procedures_clean.index.unique(level="Specialty")
all_groups = df_procedures_clean.index.unique(level="Group")

df_procedures_clean.loc[("Total",None,"Total","Total")] = df_procedures_clean.sum()
for specialty in specialties:
    df_procedures_clean.loc[(specialty,None,"Total","Total")]=df_procedures_clean.loc[specialty].sum()
    groups = df_procedures_clean.loc[specialty].index.unique(level="Group")
    for group in groups:
        if df_procedures_clean.loc[(specialty,group)].shape[0] > 1:
            df_procedures_clean.loc[(specialty,group,"Total","Total")]=df_procedures_clean.loc[(specialty,group)].sum()

#df_procedures_clean = df_procedures_clean.sort_index()

<ipython-input-55-ae95f3eb0667>:10: PerformanceWarning: indexing past lexsort depth may impact performance.
  if df_procedures_clean.loc[(specialty,group)].shape[0] > 1:
<ipython-input-55-ae95f3eb0667>:11: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_procedures_clean.loc[(specialty,group,"Total","Total")]=df_procedures_clean.loc[(specialty,group)].sum()

In [56]:
# Calculate regression and sum and mean from individual year later
df_procedures_recalc = df_procedures_clean.copy()
for col_category in col_categories:
    new_df = df_procedures_recalc[(col_category,"Annual")].apply(calc_regression,axis=1, result_type="expand", args=(years,) )
    df_procedures_recalc[[(col_category,"Overall",new_col) for new_col in new_df.columns ]]=new_df
    #df_procedures_recalc[(col_category,"","Slope")]=df_procedures_recalc[(col_category,"Annual")].apply(calc_regression,axis=1)

# rearrange cols alphabetically, but only by the first two elements of the each column's name tuple
# This allows the order of the newly added columns to remain relative to themselves, but be rearranged relative to the other columns
df_procedures_recalc = df_procedures_recalc[sorted(df_procedures_recalc.columns, key=(lambda x: x[0:2]))]  

#df_procedures = df_procedures.sort_values(by=("Total Number of Services","","Sum"), ascending=False)  # sort rows by volume 
df_procedures_recalc = df_procedures_recalc.sort_values(by=("Total Medicare Payment","Overall","Mean"), ascending=False)  # sort rows by volume 
df_procedures_recalc = df_procedures_recalc.sort_index()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:2854: PerformanceWarning: indexing past lexsort depth may impact performance.
  result = self._run_cell(

In [57]:
with pd.option_context('display.float_format', '{:,.2f}'.format):
    display(df_procedures_recalc)

save_df(df_procedures_recalc, "df_procedures_recalc")

Category                                                                            Total Medicare Payment  \
Stat                                                                                                Annual
Year                                                                                                  2015
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less              509,299.24
                      15004      Preparation of graft site of face, scalp, eyeli...             492,031.70
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...             249,466.87
                      15260      Relocation of patient skin to nose, ears, eyeli...           3,816,163.30
                      15730      Creation of flap graft to midface                                    0.00
...                                                                                                    ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope             2,454,520.71
                      31288      Removal of nasal sinus tissue using an endoscope               460,441.25
                      Total      Total                                                        2,914,961.96
                NaN   Total      Total                                                       15,276,281.87
Total           NaN   Total      Total                                                       58,667,070.89

Category                                                                                           \
Stat
Year                                                                                         2016
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less     600,263.11
                      15004      Preparation of graft site of face, scalp, eyeli...    549,173.13
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    333,222.62
                      15260      Relocation of patient skin to nose, ears, eyeli...  4,358,891.55
                      15730      Creation of flap graft to midface                           0.00
...                                                                                           ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    4,313,264.94
                      31288      Removal of nasal sinus tissue using an endoscope      585,987.47
                      Total      Total                                               4,899,252.41
                NaN   Total      Total                                              17,782,492.23
Total           NaN   Total      Total                                              61,352,081.82

Category                                                                                           \
Stat
Year                                                                                         2017
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less   1,165,644.85
                      15004      Preparation of graft site of face, scalp, eyeli...    607,020.35
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    322,363.94
                      15260      Relocation of patient skin to nose, ears, eyeli...  3,827,316.88
                      15730      Creation of flap graft to midface                           0.00
...                                                                                           ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    4,546,272.86
                      31288      Removal of nasal sinus tissue using an endoscope      820,141.39
                      Total      Total                                               5,366,414.25
                NaN   Total      Total                                              20,005,663.59
Total           NaN   Total      Total                                              63,911,899.11

Category                                                                                           \
Stat
Year                                                                                         2018
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less   1,317,431.90
                      15004      Preparation of graft site of face, scalp, eyeli...    614,663.70
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    447,454.72
                      15260      Relocation of patient skin to nose, ears, eyeli...  3,987,570.86
                      15730      Creation of flap graft to midface                     309,666.39
...                                                                                           ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    5,081,500.91
                      31288      Removal of nasal sinus tissue using an endoscope      132,215.78
                      Total      Total                                               5,213,716.69
                NaN   Total      Total                                              17,310,373.19
Total           NaN   Total      Total                                              66,782,630.37

Category                                                                                           \
Stat
Year                                                                                         2019
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less     644,733.10
                      15004      Preparation of graft site of face, scalp, eyeli...    645,711.34
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    374,959.52
                      15260      Relocation of patient skin to nose, ears, eyeli...  3,502,561.56
                      15730      Creation of flap graft to midface                     462,171.85
...                                                                                           ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    5,474,723.78
                      31288      Removal of nasal sinus tissue using an endoscope      167,881.55
                      Total      Total                                               5,642,605.33
                NaN   Total      Total                                              19,189,930.41
Total           NaN   Total      Total                                              69,603,558.16

Category                                                                                           \
Stat                                                                                      Overall
Year                                                                                         Mean
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less     847,474.44
                      15004      Preparation of graft site of face, scalp, eyeli...    581,720.04
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    345,493.53
                      15260      Relocation of patient skin to nose, ears, eyeli...  3,898,500.83
                      15730      Creation of flap graft to midface                     154,367.65
...                                                                                           ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    4,374,056.64
                      31288      Removal of nasal sinus tissue using an endoscope      433,333.49
                      Total      Total                                               4,807,390.13
                NaN   Total      Total                                              17,912,948.26
Total           NaN   Total      Total                                              64,063,448.07

Category                                                                                            \
Stat
Year                                                                                           Sum
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less    4,237,372.20
                      15004      Preparation of graft site of face, scalp, eyeli...   2,908,600.22
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...   1,727,467.67
                      15260      Relocation of patient skin to nose, ears, eyeli...  19,492,504.15
                      15730      Creation of flap graft to midface                      771,838.24
...                                                                                            ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    21,870,283.20
                      31288      Removal of nasal sinus tissue using an endoscope     2,166,667.44
                      Total      Total                                               24,036,950.64
                NaN   Total      Total                                               89,564,741.29
Total           NaN   Total      Total                                              320,317,240.35

Category                                                                                          \
Stat
Year                                                                                       Slope
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less     98,803.65
                      15004      Preparation of graft site of face, scalp, eyeli...    37,284.98
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    36,521.74
                      15260      Relocation of patient skin to nose, ears, eyeli...   -99,852.42
                      15730      Creation of flap graft to midface                    123,401.01
...                                                                                          ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope     680,864.21
                      31288      Removal of nasal sinus tissue using an endoscope    -103,889.11
                      Total      Total                                                576,975.10
                NaN   Total      Total                                                735,517.80
Total           NaN   Total      Total                                              2,730,352.31

Category                                                                                               \
Stat
Year                                                                                        Intercept
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less    -198,439,489.63
                      15004      Preparation of graft site of face, scalp, eyeli...    -74,622,094.70
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...    -73,318,856.05
                      15260      Relocation of patient skin to nose, ears, eyeli...    205,300,825.92
                      15730      Creation of flap graft to midface                    -248,745,467.50
...                                                                                               ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope   -1,368,929,056.95
                      31288      Removal of nasal sinus tissue using an endoscope      209,977,666.34
                      Total      Total                                              -1,158,951,390.61
                NaN   Total      Total                                              -1,465,626,462.41
Total           NaN   Total      Total                                              -5,443,057,159.18

Category                                                                                   \
Stat
Year                                                                                    R
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less   0.43
                      15004      Preparation of graft site of face, scalp, eyeli...  0.97
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...  0.79
                      15260      Relocation of patient skin to nose, ears, eyeli... -0.51
                      15730      Creation of flap graft to midface                   0.89
...                                                                                   ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    0.92
                      31288      Removal of nasal sinus tissue using an endoscope   -0.57
                      Total      Total                                               0.84
                NaN   Total      Total                                               0.64
Total           NaN   Total      Total                                               1.00

Category                                                                             ...  \
Stat                                                                                 ...
Year                                                                                 ...
Specialty       Group HCPCS Code HCPCS Description                                   ...
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less   ...
                      15004      Preparation of graft site of face, scalp, eyeli...  ...
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...  ...
                      15260      Relocation of patient skin to nose, ears, eyeli...  ...
                      15730      Creation of flap graft to midface                   ...
...                                                                                  ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope    ...
                      31288      Removal of nasal sinus tissue using an endoscope    ...
                      Total      Total                                               ...
                NaN   Total      Total                                               ...
Total           NaN   Total      Total                                               ...

Category                                                                            Total Number of Services  \
Stat                                                                                                  Annual
Year                                                                                                    2016
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less                  8,266.00
                      15004      Preparation of graft site of face, scalp, eyeli...                 3,988.00
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...                   498.00
                      15260      Relocation of patient skin to nose, ears, eyeli...                 7,518.00
                      15730      Creation of flap graft to midface                                      0.00
...                                                                                                      ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope                   8,394.00
                      31288      Removal of nasal sinus tissue using an endoscope                   1,421.00
                      Total      Total                                                              9,815.00
                NaN   Total      Total                                                             71,454.00
Total           NaN   Total      Total                                                            233,972.00

Category                                                                                        \
Stat
Year                                                                                      2017
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less   14,608.00
                      15004      Preparation of graft site of face, scalp, eyeli...   4,310.00
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...     466.00
                      15260      Relocation of patient skin to nose, ears, eyeli...   7,164.00
                      15730      Creation of flap graft to midface                        0.00
...                                                                                        ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope     9,166.00
                      31288      Removal of nasal sinus tissue using an endoscope     1,705.00
                      Total      Total                                               10,871.00
                NaN   Total      Total                                               76,753.00
Total           NaN   Total      Total                                              243,999.00

Category                                                                                        \
Stat
Year                                                                                      2018
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less   11,483.00
                      15004      Preparation of graft site of face, scalp, eyeli...   4,188.00
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...     538.00
                      15260      Relocation of patient skin to nose, ears, eyeli...   6,646.00
                      15730      Creation of flap graft to midface                      342.00
...                                                                                        ...
Rhinology       J     31267      Removal of nasal sinus tissue using an endoscope     9,227.00
                      31288      Removal of nasal sinus tissue using an endoscope       236.00
                      Total      Total                                                9,463.00
                NaN   Total      Total                                               80,716.00
Total           NaN   Total      Total                                              251,313.00

Category                                                                                        \
Stat
Year                                                                                      2019
Specialty       Group HCPCS Code HCPCS Description
Facial plastics       11042      Removal of skin and tissue first 20 sq cm or less    6,537.00
                      15004      Preparation of graft site of face, scalp, eyeli...   4,141.00
                      15120      Skin graft of face, scalp, eyelids, mouth, neck...     468.00
                      15260      Relocation of patient skin to nose, ears, eyeli...   6,439.00
                      15730      Creation of flap graft to midface                      482.00
...                                                                                        ...

In [35]:
df_procedures_clean2 = df_procedures_clean.sort_index(level=[0,1,2,3])
df_procedures_clean2.index.is_monotonic_increasing

#df_procedures_clean.loc[(specialty,slice(None),slice("0","9"),slice(None))]
#df_procedures_clean.loc[idx[specialty,:,"31571":"31622"]]
#df_procedures_clean.loc[(specialty,"B","a","a"):tuple()]

False

# County analysis

## Load data

In [ ]:
# @title Load spatial coordinates of counties
# Below is necessary for plotting chloropleths. 
with urllib.request.urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

In [ ]:
# @title Load conversion df between FIPS code and county string
fips2county = pd.read_csv("data/fips2county.tsv", sep="\t", comment='#', dtype=str)

In [ ]:
# @title Load our ENT df of all counties, their info, and the Moran's analysis
# The ent CSV file only contains the counties which are analyzable
df_counties_wide_orig = pd.read_csv("data/2022_04_10 ent initial output.csv", dtype={"FIPS": str})

In [ ]:
df_counties_wide_orig.columns

Index(['FIPS', 'Total Number of Services', 'Total Medicare Payment Amount',
       'Total Number of Services: 2019', 'Total Medicare Payment Amount: 2019',
       'Total Number of Services: 2018', 'Total Medicare Payment Amount: 2018',
       'Total Number of Services: 2017', 'Total Medicare Payment Amount: 2017',
       'Total Number of Services: 2016', 'Total Medicare Payment Amount: 2016',
       'Total Number of Services: 2015', 'Total Medicare Payment Amount: 2015',
       'tot_ratio', '% ASC Procedures: 2019', '% ASC Billing: 2019',
       '% ASC Procedures: 2018', '% ASC Billing: 2018',
       '% ASC Procedures: 2017', '% ASC Billing: 2017',
       '% ASC Procedures: 2016', '% ASC Billing: 2016',
       '% ASC Procedures: 2015', '% ASC Billing: 2015', '% ASC Procedures',
       '% ASC Billing', 'Beneficiaries with Part A and Part B', 'Average Age',
       'Percent Male', 'Percent Non-Hispanic White',
       'Percent African American', 'Percent Hispanic',
       'Percent Eligible for Medicaid', 'Average HCC Score',
       'Hospital Readmission Rate',
       'Emergency Department Visits per 1000 Beneficiaries',
       'Procedures Per Capita Standardized Costs',
       'Procedure Events Per 1000 Beneficiaries', 'metro', 'pct_poverty',
       'median_house_income', 'pop', '2013_Rural_urban_cont_code',
       'Pct_wthout_high_diploma', 'Pct_wth_high_diploma', 'Pct_wth_some_coll',
       'Pct_wth_coll_degree', 'unemployment', 'pct_uninsured', 'fibro',
       'tabacco', 'obesity', 'migrane', 'Alzheimers', 'Depression',
       'Alcohol Abuse', 'Drug Abuse', 'Schizo_othr_psych', 'COPD',
       'Chronic Kidney Disease', 'Osteoporosis', 'Stroke', 'Diabetes',
       'Asthma', 'Arthritis', 'Hypertension', 'Heart Failure',
       'Ischemic Heart Disease', 'Population Density',
       'Medicare Population Density', 'Moran I score for ACS billing fraction',
       'County'],
      dtype='object')

In [ ]:
# @title Merge with the fips 2 county standard data set
df_counties_wide = pd.merge(left=df_counties_wide_orig, right=fips2county, how="left", left_on='FIPS', right_on='CountyFIPS')
# Insert a county "County, ST" col (i.e. "Monmouth, NJ" or "Champaign, IL") for ease
df_counties_wide.insert(1, "County_St", df_counties_wide["CountyName"].astype(str) + ", " + df_counties_wide["StateAbbr"].astype(str))

cols_renamed={
    "Average Age": "Average Age (years)",
    'Percent Male': "% Male",
    'Percent Non-Hispanic White': "% Non-Hispanic White",
    'Percent African American': "% African American",
    'Percent Hispanic': "% Hispanic",
    'Percent Eligible for Medicaid': "% Eligible for Medicaid",
    'pct_poverty': "% Poverty",
    'median_house_income': "Median Household Income",
    "Pct_wthout_high_diploma": "% without High School Graduation",
    'unemployment': "Unemployment Rate",
    'pct_uninsured': "% Uninsured",
    'tabacco': "% Tobacco Use",
    'obesity': "% Obesity",
    #"Asthma": "% with Asthma",
    '2013_Rural_urban_cont_code': "RUCA",
    'pop': "Overall Population",
    'Beneficiaries with Part A and Part B': "Medicare Beneficiaries Population",
    'Population Density': "Overall Population Density",
    'Medicare Population Density': "Medicare Population Density",
    "Moran I score for ACS billing fraction":  "Moran I for ASC billing fraction",  # It is "ASC" not "ACS"
}
df_counties_wide = df_counties_wide.rename(columns=cols_renamed)

In [ ]:
info_simple = ["FIPS", "CountyName","StateAbbr", "% ASC Billing"]
info_main = ["FIPS", "County",	"StateFIPS", "Total Medicare Payment Amount", "% ASC Procedures", "% ASC Billing",	"CountyFIPS_3",	"CountyName",	"StateName",	"CountyFIPS",	"StateAbbr",	"STATE_COUNTY", "Moran I for ASC billing fraction"]

df_counties_wide_simple=df_counties_wide[info_simple]
df_counties_wide_main=df_counties_wide[info_main]

# Display with all the columns
with pd.option_context('display.max_rows', 3, 'display.max_columns', None): 
    display(df_counties_wide_simple)

      FIPS    CountyName StateAbbr  % ASC Billing
0    01017      Chambers        AL       0.000000
..     ...           ...       ...            ...
940  51041  Chesterfield        VA      47.027037

[941 rows x 4 columns]

## Create long df from wide df- i.e. separate out the year columns into different rows

In [ ]:
col_categories = ["Total Number of Services:", "Total Medicare Payment Amount:", "% ASC Procedures:", "% ASC Billing:"]
cols_to_keep = ["FIPS","County_St"]  # columns to keep in every subgroup so you can line up extra info later

# Create list of df's to combine later, each df is from melting of one col_category of columns
df_counties_longs = []

# Convert each type of col_category to long format in separate dataframes
for col_category in col_categories:
        df_counties_long = df_counties_wide.melt(id_vars=cols_to_keep, 
                               var_name="Year", 
                               value_vars=[f"{col_category} {year}" for year in range(2015, 2019 +1)], 
                               value_name=f"{col_category} in Year",
                               )
        df_counties_long["Year"] = df_counties_long["Year"].replace({ f"{col_category} {year}":f"{year}" for year in range(2015, 2019 +1)})
        df_counties_longs.append(df_counties_long)

# Merge the separate col_category dataframes
df_counties_long = df_counties_longs[0]
for ind in range(1,len(df_counties_longs)):
    df_counties_long = pd.merge(left=df_counties_long, right=df_counties_longs[ind], how="outer", on=(cols_to_keep+["Year"]) )

# Merge with the overall wide dataframe to keep those other values
df_counties_long = pd.merge(left=df_counties_long, 
                   right=df_counties_wide.drop([f"{col_category} {year}" for year in range(2015, 2019 +1) for col_category in col_categories], axis=1), 
                   how="left", on=cols_to_keep)

In [ ]:
df_counties_long

,FIPS,County_St,Year,Total Number of Services: in Year,Total Medicare Payment Amount: in Year,% ASC Procedures: in Year,% ASC Billing: in Year,Total Number of Services,Total Medicare Payment Amount,tot_ratio,...,Medicare Population Density,Moran I score for ACS billing fraction,County,StateFIPS,CountyFIPS_3,CountyName,StateName,CountyFIPS,StateAbbr,STATE_COUNTY
0,01017,"Chambers, AL",2015,0.0,0.00,0.000000,0.000000,408.0,30064.800000,14.196990,...,14.230610,Non Significant,Chambers,01,017,Chambers,Alabama,01017,AL,AL | CHAMBERS
1,01033,"Colbert, AL",2015,108.0,10404.39,0.000000,0.000000,272.0,37080.230000,16.000000,...,22.681014,Non Significant,Colbert,01,033,Colbert,Alabama,01033,AL,AL | COLBERT
2,01045,"Dale, AL",2015,0.0,0.00,0.000000,0.000000,12.0,405.210000,0.999104,...,17.700437,Non Significant,Dale,01,045,Dale,Alabama,01045,AL,AL | DALE
3,01083,"Limestone, AL",2015,0.0,0.00,0.000000,0.000000,55.0,9515.590000,4.000000,...,29.157261,Non Significant,Limestone,01,083,Limestone,Alabama,01083,AL,AL | LIMESTONE
4,05145,"White, AR",2015,1217.0,48412.57,0.000000,0.000000,1269.0,52190.220000,11.995594,...,15.224018,Non Significant,White,05,145,White,Arkansas,05145,AR,AR | WHITE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4700,21073,"Franklin, KY",2019,0.0,0.00,0.000000,0.000000,114.0,7749.960000,3.910144,...,62.858188,Non Significant,Franklin,21,073,Franklin,Kentucky,21073,KY,KY | FRANKLIN
4701,56021,"Laramie, WY",2019,422.0,79083.86,100.000000,100.000000,1784.0,337949.890001,21.000000,...,6.286729,Non Significant,Laramie,56,021,Laramie,Wyoming,56021,WY,WY | LARAMIE
4702,54041,"Lewis, WV",2019,0.0,0.00,0.000000,0.000000,606.0,26648.230000,4.000000,...,10.524948,Low-Low,Lewis,54,041,Lewis,West Virginia,54041,WV,WV | LEWIS
4703,50027,"Windsor, VT",2019,319.0,12093.61,0.000000,0.000000,1132.0,47825.130000,35.000000,...,14.320922,Low-Low,Windsor,50,027,Windsor,Vermont,50027,VT,VT | WINDSOR
4704,51041,"Chesterfield, VA",2019,111.0,47135.49,28.828829,51.859904,617.0,204885.309999,34.339788,...,124.679835,Non Significant,Chesterfield,51,041,Chesterfield,Virginia,51041,VA,VA | CHESTERFIELD

## Set up for summaries and save sums

In [ ]:
# sorted_moran_values = df_counties_wide["Moran I for ASC billing fraction"].unique()
sorted_moran_values = ["High-High","Low-Low","Low-High","High-Low","Non Significant"]  # list out specifically so you can get the order you want
sorted_moran_values_all = sorted_moran_values + ["All"]   #[pd.IndexSlice[:]]  # pd.IndexSlice[:]] represents all

moran_frequencies = df_counties_wide["Moran I for ASC billing fraction"].value_counts()[sorted_moran_values]

In [ ]:
summable_groups = [col for col in df_counties_wide.columns if "total" in col.lower()]
summable_groups = summable_groups + ["Overall Population", "Medicare Beneficiaries Population"]
df_wide_sums = df_counties_wide.groupby("Moran I for ASC billing fraction")[summable_groups].sum()
df_wide_sums = df_wide_sums.assign(Counties=moran_frequencies)
df_wide_sums.loc["All"] = df_wide_sums.sum()

df_wide_sums = df_wide_sums[df_wide_sums.columns[::-1]]  # flip column order left-right to be more logical
with pd.option_context('display.float_format', '{:,.0f}'.format):
    display(df_wide_sums)

save_df(df_wide_sums, "df_wide_sums")

,Counties,Medicare Beneficiaries Population,Overall Population,Total Medicare Payment Amount: 2015,Total Number of Services: 2015,Total Medicare Payment Amount: 2016,Total Number of Services: 2016,Total Medicare Payment Amount: 2017,Total Number of Services: 2017,Total Medicare Payment Amount: 2018,Total Number of Services: 2018,Total Medicare Payment Amount: 2019,Total Number of Services: 2019,Total Medicare Payment Amount,Total Number of Services
Moran I for ASC billing fraction,,,,,,,,,,,,,,,
High-High,90,"8,252,843","49,290,013","17,139,184","87,102","18,933,282","106,216","20,196,017","104,668","20,980,333","106,943","21,192,147","116,676","98,440,963","521,605"
High-Low,33,"1,530,091","8,804,718","2,888,148","15,446","3,229,780","15,408","3,008,710","14,722","2,804,513","13,691","2,815,553","14,891","14,746,704","74,158"
Low-High,74,"4,004,628","26,958,805","8,693,092","106,478","7,748,456","90,410","7,584,302","90,625","8,247,523","101,380","8,687,247","103,071","40,960,620","491,964"
Low-Low,139,"3,623,493","19,364,704","5,561,819","95,757","4,296,993","65,244","3,946,056","59,105","4,005,969","61,639","4,649,317","72,170","22,460,154","353,915"
Non Significant,605,"25,346,776","163,845,060","57,438,585","472,764","55,995,168","396,368","58,543,009","428,827","60,913,491","429,358","63,638,158","434,911","296,528,411","2,162,228"
All,941,"42,757,830","268,263,300","91,720,829","777,547","90,203,679","673,646","93,278,093","697,947","96,951,828","713,011","100,982,422","741,719","473,136,851","3,603,870"

In [ ]:
!ls outputs/2022_11_20-RSY-geospatial_ENT_analysis_v03

df_counties_summary_clean.csv	df_wide_sums.csv
df_counties_summary_clean.xlsx	df_wide_sums.xlsx

## Create summary data by Moran category

In [ ]:
col_categories = ["Total Number of Services","Total Medicare Payment Amount", "% ASC Procedures", "% ASC Billing" ]

df_counties_with_slope = df_counties_wide.copy()
# Calculate regression and sum and mean from individual year later
for col_category in col_categories:
    new_df = df_counties_with_slope[ [col_category + ": " + str(yr) for yr in years] ].apply(calc_regression,axis=1, result_type="expand", args=(years,) )
    df_counties_with_slope[[col_category+": "+new_col for new_col in new_df.columns ]]=new_df
# To simplify, drop info for specific years unless it was "Mean" and "Slope" col_categories we just added
for col_category in col_categories:
    df_counties_with_slope = df_counties_with_slope.drop(columns=[col for col in df_counties_with_slope.columns if col_category in col and "Mean" not in col and "Slope" not in col])


df_counties_summary_dict = {}   # create a dict we will concatenate into a df later
# Options: 	[count, mean, std, min, 25%, 50%, 75%, max] assuming default percentiles argument
cols_to_show = ["10%","mean","90%"]
for possible_Moran_value in sorted_moran_values:
    df_counties_summary_dict[possible_Moran_value] = df_counties_with_slope[df_counties_with_slope["Moran I for ASC billing fraction"]==possible_Moran_value].describe(percentiles=[.1,.25,.5,.75,.9]).loc[cols_to_show]
df_counties_summary_dict["All"] = df_counties_with_slope.describe(percentiles=[.1,.25,.5,.75,.9]).loc[cols_to_show]

df_counties_summary = pd.concat(df_counties_summary_dict.values(), axis=0, keys=df_counties_summary_dict.keys())
for possible_Moran_value in sorted_moran_values:
    df_counties_summary.loc[(possible_Moran_value,cols_to_show[0]), "N"] = moran_frequencies[possible_Moran_value]

# Reorder into the sorted order we set above
df_counties_summary = df_counties_summary.loc[sorted_moran_values_all]

## Create a more presentable format
Select out only the columns you want and rename the columns

In [ ]:
df_counties_long.columns

Index(['FIPS', 'County_St', 'Year', 'Total Number of Services: in Year',
       'Total Medicare Payment Amount: in Year', '% ASC Procedures: in Year',
       '% ASC Billing: in Year', 'Total Number of Services',
       'Total Medicare Payment Amount', 'tot_ratio', '% ASC Procedures',
       '% ASC Billing', 'Beneficiaries with Part A and Part B', 'Average Age',
       'Percent Male', 'Percent Non-Hispanic White',
       'Percent African American', 'Percent Hispanic',
       'Percent Eligible for Medicaid', 'Average HCC Score',
       'Hospital Readmission Rate',
       'Emergency Department Visits per 1000 Beneficiaries',
       'Procedures Per Capita Standardized Costs',
       'Procedure Events Per 1000 Beneficiaries', 'metro', 'pct_poverty',
       'median_house_income', 'pop', '2013_Rural_urban_cont_code',
       'Pct_wthout_high_diploma', 'Pct_wth_high_diploma', 'Pct_wth_some_coll',
       'Pct_wth_coll_degree', 'unemployment', 'pct_uninsured', 'fibro',
       'tabacco', 'obesity', 'migrane', 'Alzheimers', 'Depression',
       'Alcohol Abuse', 'Drug Abuse', 'Schizo_othr_psych', 'COPD',
       'Chronic Kidney Disease', 'Osteoporosis', 'Stroke', 'Diabetes',
       'Asthma', 'Arthritis', 'Hypertension', 'Heart Failure',
       'Ischemic Heart Disease', 'Population Density',
       'Medicare Population Density', 'Moran I score for ACS billing fraction',
       'County', 'StateFIPS', 'CountyFIPS_3', 'CountyName', 'StateName',
       'CountyFIPS', 'StateAbbr', 'STATE_COUNTY'],
      dtype='object')

'% ASC Billing:'

In [ ]:
key_cols={
    'Total Number of Services: Mean': 'Number of Services: Annual' ,
    'Total Number of Services: Slope': 'Number of Services: Yearly Change' ,
    'Total Medicare Payment Amount: Mean' : "Medicare Payment: Annual",
    'Total Medicare Payment Amount: Slope' : "Medicare Payment: Yearly Change",
    '% ASC Billing: Mean': '% ASC Billing',
    '% ASC Billing: Slope': '% ASC Billing: Yearly Change',
    "% ASC Procedures: Mean": "% ASC Procedures",
    "% ASC Procedures: Slope": "% ASC Procedures: Yearly Change",
    "Average Age": "Average Age (years)",
    'Percent Male': "% Male",
    'Percent Non-Hispanic White': "% Non-Hispanic White",
    'Percent African American': "% African American",
    'Percent Hispanic': "% Hispanic",
    'Percent Eligible for Medicaid': "% Eligible for Medicaid",
    'pct_poverty': "% Poverty",
    'median_house_income': "Median Household Income",
    "Pct_wthout_high_diploma": "% without High School Graduation",
    'unemployment': "Unemployment Rate",
    'pct_uninsured': "% Uninsured",
    'tabacco': "% Tobacco Use",
    'obesity': "% Obesity",
    #"Asthma": "% with Asthma",
    '2013_Rural_urban_cont_code': "RUCA",
    'pop': "Overall Population",
    'Beneficiaries with Part A and Part B': "Medicare Beneficiaries Population",
    'Population Density': "Overall Population Density",
    'Medicare Population Density': "Medicare Population Density",
}
df_counties_summary_clean = df_counties_summary[key_cols.keys()]
df_counties_summary_clean = df_counties_summary_clean.rename(columns=key_cols).transpose()

with pd.option_context('display.float_format', '{:,.2f}'.format):
    display( df_counties_summary_clean )

save_df(df_counties_summary_clean, "df_counties_summary_clean")

                                   High-High                          Low-Low  \
                                         10%       mean        90%        10%
Number of Services: Annual             54.38   1,159.12   1,185.06       8.72
Number of Services: Yearly Change    -115.49      66.53      54.78    -193.22
Medicare Payment: Annual           16,018.24 218,757.69 439,851.70     798.98
Medicare Payment: Yearly Change   -22,898.25  11,281.08  26,467.42 -11,950.69
% ASC Billing                          37.72      69.28      90.97       0.00
% ASC Billing: Yearly Change           -4.89       1.44       8.11       0.00
% ASC Procedures                       17.44      51.27      80.33       0.00
% ASC Procedures: Yearly Change        -6.74       1.34       9.26       0.00
Average Age (years)                    71.00      72.41      74.00      68.80
% Male                                 42.93      44.69      46.80      44.12
% Non-Hispanic White                   63.48      80.69      92.80      77.03
% African American                      1.32       8.87      19.75       0.31
% Hispanic                              0.93       5.83      14.06       0.29
% Eligible for Medicaid                 9.93      16.61      23.62      15.45
% Poverty                               6.90      12.54      19.14       8.42
Median Household Income            47,690.34  64,248.34  90,205.08  42,085.80
% without High School Graduation        6.90      11.62      15.05       5.50
Unemployment Rate                       3.60       4.76       5.97       2.88
% Uninsured                             5.90      10.75      16.56       4.64
% Tobacco Use                           5.00       7.65      10.04       8.20
% Obesity                              13.00      19.13      25.12      13.08
RUCA                                    1.00       1.92       3.00       1.00
Overall Population                102,551.02 547,666.81 914,269.40  36,255.12
Medicare Beneficiaries Population  15,823.74  91,698.25 143,264.70   8,175.44
Overall Population Density            129.82     786.57   1,906.68      48.11
Medicare Population Density            20.49     134.04     265.73      10.74

                                                         Low-High             \
                                        mean        90%       10%       mean
Number of Services: Annual            509.23   1,402.84      3.18   1,329.63
Number of Services: Yearly Change     -36.53      96.40    -97.49       5.62
Medicare Payment: Annual           32,316.77  82,467.87    535.71 110,704.38
Medicare Payment: Yearly Change    -1,522.32   5,963.24 -6,221.68     658.62
% ASC Billing                           1.12       1.83      0.00       2.74
% ASC Billing: Yearly Change            0.03       0.00     -1.16      -0.51
% ASC Procedures                        0.45       0.37      0.00       0.93
% ASC Procedures: Yearly Change        -0.05       0.00     -0.13      -0.22
Average Age (years)                    70.37      72.00     69.66      71.49
% Male                                 45.95      47.51     42.75      45.13
% Non-Hispanic White                   88.03      96.23     53.49      77.02
% African American                      4.13      10.02      0.65      12.98
% Hispanic                              1.22       2.31      0.57       5.69
% Eligible for Medicaid                23.85      33.66     10.35      19.00
% Poverty                              13.96      20.09      8.28      14.25
Median Household Income            54,240.51  68,665.08 41,664.62  59,892.96
% without High School Graduation        9.98      14.50      7.43      12.56
Unemployment Rate                       4.58       6.32      3.23       4.67
% Uninsured                             7.27      11.10      6.70      11.58
% Tobacco Use                          11.62      16.52      5.66       8.58
% Obesity                              18.90      25.68     10.78      17.94
RUCA                                    3.48       6.20      1.00       2.45
Overall Population                139,314.42 295,239.28 38,369.24 364,308.18
Medicare Beneficiaries Population  26,068.30  53,127.36  7,982.90  54,116.59
Overall Population Density            329.06     564.37     57.40   3,578.97
Medicare Population Density            59.85     104.50     12.60     484.37

                                               High-Low                        \
                                         90%        10%       mean        90%
Number of Services: Annual          3,205.98      29.88     449.44     933.24
Number of Services: Yearly Change     111.17     -99.64      -8.57      44.26
Medicare Payment: Annual          231,874.86   4,393.20  89,373.96 182,863.41
Medicare Payment: Yearly Change    11,706.62 -10,510.83  -1,728.66  13,796.86
% ASC Billing                          12.17      20.00      54.10      90.51
% ASC Billing: Yearly Change            0.00      -8.73       3.73      19.47
% ASC Procedures                        3.25      11.64      39.08      79.02
% ASC Procedures: Yearly Change         0.06      -6.97       3.04      17.66
Average Age (years)                    73.00      69.72      71.09      72.20
% Male                                 47.38      43.67      44.96      46.91
% Non-Hispanic White                   94.02      76.93      88.98      95.52
% African American                     31.70       0.54       6.47      17.69
% Hispanic                             12.93       0.51       1.41       2.13
% Eligible for Medicaid                30.03      12.22      19.47      27.38
% Poverty                              23.39       4.90      12.41      18.76
Median Household Income            81,987.56  44,606.88  61,317.02  87,788.60
% without High School Graduation       17.88       4.72       8.84      12.96
Unemployment Rate                       6.14       3.07       4.19       5.58
% Uninsured                            16.87       3.92       7.11      10.57
% Tobacco Use                          11.74       7.52       9.96      13.60
% Obesity                              22.80      13.00      18.50      25.44
RUCA                                    4.70       1.00       2.33       4.00
Overall Population                816,765.32  53,049.72 266,809.62 601,163.60
Medicare Beneficiaries Population 112,862.70  10,876.36  46,366.38 100,964.32
Overall Population Density          8,732.64      88.30     596.57   1,666.76
Medicare Population Density         1,068.83      16.03     105.15     299.16

                                  Non Significant                        \
                                              10%       mean        90%
Number of Services: Annual                   8.20     714.79   1,419.24
Number of Services: Yearly Change         -101.06      -7.06      77.28
Medicare Payment: Annual                 1,066.88  98,025.92 212,296.85
Medicare Payment: Yearly Change         -9,348.72   2,862.39  16,823.63
% ASC Billing                                0.00      22.85      76.19
% ASC Billing: Yearly Change                -2.69       0.57       6.97
% ASC Procedures                             0.00      16.67      56.60
% ASC Procedures: Yearly Change             -2.79       0.36       5.12
Average Age (years)                         69.60      71.19      73.00
% Male                                      43.41      45.26      47.39
% Non-Hispanic White                        59.72      80.42      95.37
% African American                           0.35       8.54      24.40
% Hispanic                                   0.43       4.09       9.26
% Eligible for Medicaid                     11.24      19.84      29.10
% Poverty                                    8.13      14.51      21.17
Median Household Income                 42,061.28  56,602.97  77,497.60
% without High School Graduation             6.30      11.34      17.96
Unemployment Rate                            3.14       4.50       5.88
% Uninsured                                  5.68      10.80      16.38
% Tobacco Use                                6.20       9.80      13.40
% Obesity                                   12.00      17.48      23.80
RUCA                                         1.00       2.96       6.00
Overall Population                      35,394.92 270,818.28 693,455.68
Medicare Beneficiaries Population        7,176.48  41,895.50  95,213.12
Overall Population Density                  41.71     491.91   1,177.16
Medicare Population Density                  8.54      76.80     183.13

                                         All
                                         10%       mean        90%
Number of Services: Annual              8.40     765.97   1,616.80
Number of Services: Yearly Change    -124.40      -3.43      76.70
Medicare Payment: Annual            1,108.60 100,560.44 219,473.75
Medicare Payment: Yearly Change   -11,701.57   2,685.58  15,954.26
% ASC Billing                           0.00      23.60      79.88
% ASC Billing: Yearly Change           -2.75       0.60       5.87
% ASC Procedures                        0.00      17.13      60.49
% ASC Procedures: Yearly Change        -2.68       0.44       5.04
Average Age (years)                    69.40      71.21      73.00
% Male                                 43.40      45.29      47.35
% Non-Hispanic White                   61.45      81.60      95.62
% African American                      0.36       8.20      22.26
% Hispanic                              0.42       3.87       8.37
% Eligible for Medicaid                11.07      20.05      29.79
% Poverty                               7.90      14.15      20.96
Median Household Income            42,571.60  57,409.27  77,843.60
% without High School Graduation        6.20      11.17      17.30
Unemployment Rate                       3.12       4.54       5.96
% Uninsured                             5.44      10.20      16.18
% Tobacco Use                           6.20       9.78      13.60
% Obesity                              12.00      17.92      24.20
RUCA                                    1.00       2.88       6.00
Overall Population                 37,167.20 285,083.21 687,488.20
Medicare Beneficiaries Population   7,537.80  45,438.71 102,724.80
Overall Population Density             46.65     742.47   1,394.10
Medicare Population Density             9.35     112.82     222.39